@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root { 
  /* Palette */
  /* --purple: #c83eff; */
  --green: #4eff80;
  --eerie-black: #181818ff;
  --eerie-black-2: #222222ff;
  --seasalt: #faf9f9ff;
  --timberwolf: #dad6d6ff;

  /* --------------- */

  --color-highlight: var(--green);

  --color-background: var(--eerie-black);
  --color-background-soft: var(--eerie-black-2);

  --color-text: var(--seasalt);
  --color-text-soft: var(--timberwolf);

  --color-table-border: var(--timberwolf);
}

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Roboto Mono", monospace !important;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}